<!DOCTYPE html>
<html lang="en">

<header>
        <% include /header %>
</header>

<script>
    function CateChage(cid){
        alert('2');
        var htmlvalue = $('')
    }
</script>
<head>
    <title><%=title%></title>
</head>
<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Home</p>
                <div class="list-group">
                    <a href="/registration" class="list-group-item active">Registration</a>
                    <a href="/login" class="list-group-item">Login</a>
                    <a href="/weather" class="list-group-item">Weather</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    
                    <div class="caption-full">
                       <p class="lead">Members registration form</p>
                    </div>
                    
                    <form id="form" method="post" action="registry" enctype="multipart/form-data">
                        <table class="table">
                    	<tr><th>Fulll Name :
                            </th>
                            <td><input type="text" name="fullname" id="fullname"/>
                            </td>
                        </tr>
                    	<tr><th>User Name :
                            </th>
                            <td><input type="text" name="username" id="username"/>
                            </td>
                        </tr>
                    	<tr><th>Password :
                            </th>
                            <td><input type="password" name="password" id="password"/>
                            </td>
                        </tr>
                    	<tr><th>Email :
                            </th>
                            <td><input type="text" name="email" id="email"/>
                            </td>
                        </tr>
                            <tr><td colspan="2" style='text-align:center;font-size:20px;'><input  class="btn btn-primary btn-lg" type="submit" value="Submit"></td></tr>
                            </table>
                    </form>
                </div>


            </div>

        </div>

    </div>
    <!-- /.container -->
<footer>
    <% include /footer %>
</footer>
</body>

</html>
